<template name="entryAccountButtons">
{{#if wrapLinks}} 
  {{#if currentUser}}
      {{#if profileUrl}}
      <li>
        <a class='profileLink' href='{{profileUrl}}'>{{signedInAs}}</a>
      </li>
      {{else}}
      <li>
        <p class="navbar-text">{{signedInAs}}</p>
      </li>
      {{/if}}
    
      <li>
        <a href="/sign-out">{{i18n "signOut"}}</a>
      </li>
  
  {{else}}
      <li>
        <a href="/sign-in">{{i18n "signIn"}}</a>
      </li>
    
      <li>
        <a href="/sign-up">{{i18n "signUp"}}</a>
      </li>  
  {{/if}}
{{else}}
  {{#if currentUser}}
      {{#if profileUrl}}
    
          <a class='profileLink' href='{{profileUrl}}'>{{signedInAs}}</a>
          {{else}}
          <p class="navbar-text">{{signedInAs}}</p>
    
      {{/if}}
      <a href="/sign-out">{{i18n "signOut"}}</a>
  {{else}}
      <a href="/sign-in">{{i18n "signIn"}}</a>
      <span>or</span>
    
      <a href="/sign-up">{{i18n "signUp"}}</a>
  
  {{/if}}
{{/if}}  
</template>
