<template name="entryAccountButtons">
  {{#if currentUser}}

    {{#if wrapLinks}}
      {{#if profileUrl}}
        <li><a class='profileLink' href='{{profileUrl}}'>{{{beforeSignedInAs}}}{{signedInAs}}</a></li>
      {{else}}
        <li><p class="navbar-text">{{{beforeSignedInAs}}}{{signedInAs}}</p></li>
      {{/if}}
    
      <li><a href="/sign-out">{{{beforeSignOut}}}{{i18n "signOut"}}</a></li>

    {{else}}
      {{#if profileUrl}}
        <a class='profileLink' href='{{profileUrl}}'>{{{beforeSignedInAs}}}{{signedInAs}}</a>
      {{else}}
        <p class="navbar-text">{{{beforeSignedInAs}}}{{signedInAs}}</p>
      {{/if}}
    
      <a href="/sign-out">{{{beforeSignOut}}}{{i18n "signOut"}}</a>
      
    {{/if}}
  
  {{else}}
  
    {{#if wrapLinks}}
      <li><a href="/sign-in">{{{beforeSignIn}}}{{i18n "signIn"}}</a></li>
    
      {{#unless wrapLinks}}<span>or</span>{{/unless}}
    
      <li><a href="/sign-up">{{{beforeSignUp}}}{{i18n "signUp"}}</a></li>
  
    {{else}}
      <a href="/sign-in">{{{beforeSignIn}}}{{i18n "signIn"}}</a>
      
      {{#unless wrapLinks}}<span>or</span>{{/unless}}
    
      <a href="/sign-up">{{{beforeSignUp}}}{{i18n "signUp"}}</a>
      
    {{/if}}


  {{/if}}
</template>
